*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*Configurações do cabeçalho*/

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 75px;
    background: rgb(20, 20, 20);
    z-index: 1;
}

.title{
    display: flex;
    width: 20%;
    justify-content: center;
    list-style: none;
    align-items: center;
    text-align: center;
}

.title a{
    transition: all 0.3s;
}

.title:hover a{
    letter-spacing: 2px;
}

.nav-links{
    width: 40%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    background-color: rgb(20, 20, 20);
}

.link-item{
    display: flex;
    width: 150px;
    height: 40px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 40px;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.link{
    text-decoration: none;
    color: white;
}

.btn {
    transition: all 0.3s;
    position: relative;
}

.btn a {
transition: all 0.3s;
}

.btn::before {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 90%;
z-index: 1;
opacity: 0;
transition: all 0.3s;
border-top-width: 1px;
border-bottom-width: 1px;
border-top-style: solid;
border-bottom-style: solid;
border-top-color: rgba(255,255,255,0.5);
border-bottom-color: rgba(255,255,255,0.5);
transform: scale(0.1, 1);
}

.btn:hover a {
letter-spacing: 2px;
}

.btn:hover::before {
opacity: 1; 
transform: scale(1, 1); 
}

.btn::after {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 90%;
z-index: 1;
transition: all 0.3s;
}

.btn:hover::after {
opacity: 0; 
transform: scale(0.1, 1);
}

/*Configuração da secção principal*/

.content{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
    z-index: 2;
    align-items: center;
}

.logo{
    margin: 0 110px;
}

.logo img{
    width: 150px;
    border-radius: 75px;
}

h1{
    text-transform: uppercase;
    font-weight: lighter;
}



  
  
 
  
 