@import 'nav.css';
@import 'footer.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

/*Configuração da secção principal*/

.content{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding: 0 10vw;
    z-index: 2;
    align-items: center;
    overflow-y: scroll;
    height: 87vh;
}

.presentation{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.logo{
    margin: 0 90px;
}

.logo img{
    width: 200px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

h1{
    text-transform: uppercase;
    font-weight: lighter;
    width: 40vw;
    height: 70px;
    text-align: center;
    margin: 0 auto;
}

.presentation p{
    width: 60vw;
    margin: 50px auto;
    text-align: center;
    font-size: x-large;
    font-weight: lighter;
}

.history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.history p{
    text-align: center;
    font-size: larger;
    font-weight: lighter;
    margin: 30px auto;
}

.history a{
    text-decoration: none;
    margin: 50px auto;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: black;
    font-size: x-large;
    color: whitesmoke;
    text-transform: uppercase;
}






  
  
 
  
 