@import 'nav.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Configuração da secção principal*/

.content{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
    z-index: 2;
    align-items: center;
}

.logo{
    margin: 0 110px;
}

.logo img{
    width: 150px;
    border-radius: 75px;
}

h1{
    text-transform: uppercase;
    font-weight: lighter;
}



  
  
 
  
 