@import 'nav.css';
@import 'footer.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}



main{
    height: 100vh;
    width: 100vw;
    
}

/*Carousel dos projetos a serem apresentados*/

h1{
    text-align: center;
    font-weight: lighter;
}

.content{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    
}


.projects{
    display: flex;
    overflow: hidden;
    width: 70vw;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    
}

.template-box{
    width: 100%;
    height: 400px;
    flex: none;
    scroll-snap-align: start;
}

.template-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*.template-box p{
    margin: 10px 20px;
}*/


.pre-btn, .nxt-btn{
    border: none;
    width: 10vw;
    height: 25%;
    position: absolute;
    top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 0;
}

.pre-btn{
    left: 10%;
    transform: rotate(180deg);
}

.nxt-btn{
    right: 10%;
}

.pre-btn img, .nxt-btn img{
    opacity: 0.2;
}

.pre-btn:hover img, .nxt-btn:hover img{
    opacity: 1;
}


