@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
}

html{
    scroll-behavior: smooth;
}

/* Header configurations */

header{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100vw;
    border-bottom: 1px solid grey;
    overflow: hidden;
}

header h1 a{
    letter-spacing: 5px;
    text-decoration: none;
    color: black;
}

.logo_underline{
    width: 15vw;
    height: 2px;
    background-color: black;
}

.menu{
    width: 30vw;
}

.menu ul{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    list-style: none;
}

.menu li{
    display: flex;
    height: 40px;
    align-items: center;
}

.menu li a{
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    font-size: larger;
    letter-spacing: 1px;
    overflow: hidden;
    width: auto;
}

.menu li a:hover{
    animation: linkAnimation 0.5s ease-out;
    color: white;
    background-color: black;
    border-radius: 25px;
    border: 1px solid black;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
}

.box{
    display: flex;
    flex-direction: column;
    border-left: 1px solid gray;
    height: 90vh;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.hello{
    display: flex;
    left: 0;
    width: 100vw;
    
}

.hello_h2{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.hello_p{
    text-align: center;
    flex: 2;
}

.hello h2{
    margin: 20px;
}

.hello p{
    width: 50vw;
    margin: 20px;
}

.projects{
    left: 100vw;
    width: 100vw;
}

.images{
    text-align: center;
}

.images img{
    margin-top: 20px;
    width: 70vw;
    border: 1px solid grey;
}

.contact{
    left: 200vw;
    width: 100vw;
    justify-content: space-between;
}

.contact_box{
    justify-content: space-evenly;
    width: 80vw;
    flex: 3;
    display: flex;
}

.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.social a{
    color: black;
    text-decoration: none;
    margin: 30px 10px ;
}

.divisor{
    margin-top: 15vh;
    height: 60vh;
    width: 1px;
    background-color: grey;
}

.mail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#email, #name{
    width: 25vh;
    height: 20px;
    margin: 5px 0 20px 0;
    border-radius: 10px;
    border: 1px solid black;
}

#subject{
    width: 200px;
    height: 70px;
    margin: 5px 0 15px 0;
    border-radius: 10px;
    border: 1px solid black;
}

#submit{
    margin: 10px;
    padding: 5px 10px;
    color: black;
    font-size: larger;
    letter-spacing: 1px;
    overflow: hidden;
    width: auto;
    background: none;
    border-radius: 25px;
    border: 1px solid black;
}

#submit:hover{
    animation: linkAnimation 0.5s ease-out;
    color: white;
    background-color: black;
    border-radius: 25px;
    border: 1px solid black;
}

/* Donw link animation */

@keyframes linkAnimation{
    from{
        color: black;
        background-color: white;
        font-weight: normal;
        border: 0px solid black;
        border-radius: 10px;
    }
    to{
        color: white;
        background-color: black;
        font-weight: 200;
        border: 1px solid black;
        border-radius: 25px;
    }
}

/* Mobile style */
@media screen and (max-width: 800px){
    header{
        height: 17vh;
    }

    header h1{
        position: absolute;
        top: 0px;
        left: 20vw;
    }
    
    .menu{
        margin-top:10vh;
        width: 70vw;
        z-index: 1;
    }

    .menu li a:hover{
        animation: linkAnimation 0.5s ease-out;
        color: black;
        border-radius: 25px;
        border: 1px solid black;
        background: none;
    }

    .logo_underline{
        position: absolute;
        right: 20vw;
    }

    #page{
        margin-top: 17vh;
        height: 82vh;
        z-index: 0;
    }

    .box{
        height: 82vh;
    }

    #email, #name{
        width: 25vw;
    }
    
    #subject{
        width: 25vw;
    }

    .mail{
        margin-left: 20px;
    }

    @keyframes linkAnimation{
        from{
            
            font-weight: normal;
            border: 0px solid black;
            border-radius: 10px;
        }
        to{
            
            font-weight: 200;
            border: 1px solid black;
            border-radius: 25px;
        }
    }
}